/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

@import '~ngx-toastr/toastr';

body{
    background-image: url(./assets/kees-streefkerk.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}